*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 600px;
    width: 800px;
    background: #09024b;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    /* grid-auto-flow: row; defecto*/
    grid-auto-flow:column; /*el orden, puede ser column or row*/
    /* dense rellena automáticamente los espacios vacios, se combina con row dense o column dense */
    /* grid-auto-flow:column dense; */
    grid-auto-columns: 200px; /*tamaño para elementos que se salen de la cuadricula*/
    grid-auto-rows: 200px;
}
 
[class^="item"]{
    color: #f5e9e9;
    font-size: 30px;
    text-align: center;
}

.item1{
    background: orange;
}

.item2{
    background: greenyellow;
}

.item3{
    background: skyblue;
}

.item4{
    background: red;
}

.item5{
    background: red;
}

.item6{
    background: skyblue;
}

.item8{
    background: orange;
}

.item7{
    background: greenyellow;
}

